<strong>Olá, {{ student }} </strong>
<p> Sua pergunta obteve uma resposta, confira os detalhes abaixo:</p>
<p>
  <strong>Pergunta: </strong> <br/>
    {{ question }} <br />
  <strong>Resposta: </strong> <br/>
    {{ answer }} <br />
  <strong>Respondida em: </strong> <br/>
    {{ answer_at }} <br />
  <br />
  <small>
    Agradecemos o seu contato.
  </small>


</p>
